<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/resig
		</property>
		<property name="hibernate.connection.username">
			username
		</property>
		<property name="hibernate.connection.password">
			password
		</property>
		<property name="hibernate.show_sql">
        	true
        </property>
        <property name="hibernate.format_sql">
        	true
        </property>
        
     
     	<!-- 数据库连接池配置 -->
		<property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.max_statements">50</property>
        
         <mapping class="org.davingci.pojo.User"/>
         <mapping class="org.davingci.pojo.Blog"/>

	</session-factory>
</hibernate-configuration> 